.heading {
  border: 2px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;

}
.container_box {
  border: 2px solid black;
  display: flex;
  padding: 10px;
  flex-wrap: space-around;
  justify-content: space-around;
}
.container_box div {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  align-items: center;
}
